*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f2f2f2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container-fluid .logo {
    width: 70px;
    height: 50px;
}

.container-fluid .logo img {
    width: 100%;
    height: 100%;
}

/* Sub heading menu  */
.container-fluid .menu ul{
    width: 600px;
    /* border: 1px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.navbar-nav .nav-item  a {
    color: black !important;
}

/* tên đăng nhập */
.container-fluid .register .btn-register{
    border:1px solid #EE4D2D;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color:#EE4D2D; 
    background:#F8F9FA;
    display: none;
}

.container-fluid .info {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
    /* display: none; */
}

.container-fluid .info .img-info{
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
}

.container-fluid .info .img-info img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-fluid .info .name-info{
    /* width: 100px; */
    height: 40px;
    /* border: 1px solid red; */
    font-weight: bold;
    line-height: 40px;
}

/* logout */
.container-fluid .edit-user {
    width: 200px;
    /* height: 400px; */
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 60px;
    box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.76);
-webkit-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.76);
   
}
.off {
    display: none;
}
.container-fluid .edit-user .bag {
    /* width: 200px; */
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}


.container-fluid .edit-user .bag:hover{
    background-color: #F5F5F5;
}
.container-fluid .edit-user .bag .fa-bag-shopping{
    /* width: 200px; */
    margin-left: 10px;
    margin-right: 25px;
    color: #6CC942
}

.container-fluid .edit-user .update {
    /* width: 200px; */
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}
.container-fluid .edit-user .update:hover{
    background-color: #F5F5F5;
}
.container-fluid .edit-user .update .fa-user-plus{
    margin-left: 10px;
    margin-right: 20px;
    color: #E2963B;
}
.container-fluid .edit-user .logout{
    /* width: 200px; */
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.container-fluid .edit-user .logout:hover{
    background-color: #F5F5F5;
}
.container-fluid .edit-user .logout .fa-right-from-bracket{
    margin-left: 10px;
    margin-right: 23px;
    color:#6D6F71;
}
/* Bottom */
.banner {
    background-image: url(https://shopeefood.vn/app/assets/img/main-banner.jpg?45bff8c9ec408a5ba51f9fdef662324e);
    color: white;
}

.example {
    height: 650px;
    overflow-y: scroll;
    /* border: 1px solid red; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tittle {
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin: 20px 10px;
}

.description .name-food{
    font-weight: bold;
}

.description .address{
   font-style: italic;
}

.item .button-buy{
    background-color: white;
    color: black;
    font-size: small;
    border-radius: 5px;
    /* display: none; */
    margin-left: 65px;
    margin-top: 10px;
    padding: 5px 10px;
    display: none;
}

.item .button-buy a{
    text-decoration: none;
    color: white;
}

.item:hover .button-buy{
    transition-duration: 0.5s;
    display: inline;
}


.owl-carousel-theme {
    max-width: 80%;
    margin-left: 12.5%;
    padding-left: 10px;
    padding-right: 30px;
  }
  .owl-theme .owl-nav {
    margin-top: 10px;
    display: flex;
    position: absolute;
    top: 150px;
  }
  .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    background-color: #000 !important;
    color: white !important;
    right: -60px;
    padding: auto !important;
  }
  .owl-carousel .owl-nav .owl-prev:hover {
    background-color: #a6a6a6 !important;
  }
  .owl-carousel .owl-nav .owl-next {
    display: flex;
    position: absolute;
    left: 1220px;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    background-color: #000 !important;
    color: white !important;
    border-radius: 50%;
    padding: auto !important;
  }
  .owl-carousel .owl-nav .owl-next:hover {
    background-color: #a6a6a6 !important;
  }

  

/* Footer partner */
.step-order{
    border-radius: 3px;
    width: 90%;
    height: 300px;
    margin: 100px 50px;
    background-color: white;
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.75);
}

.step-order img{
    width: 95%;
    height: 95%;
}
/* partner */
.partner {
    display: flex;
}
.partner .text {
    width: 600px;
    padding-top: 50px;
    /* border: 1px solid red; */
    margin-left: 120px;
}

.partner .image {
    position: absolute;
    /* width: 300px; */
    top: 1247px;
    left: 850px;
    height: 330px;
    /* border: 1px solid red; */
}

/* other- partner */
.other-partner {
    display: flex;
}
.other-partner .text {
    width: 600px;
    padding-top: 50px;
    /* border: 1px solid red; */
    margin-left: 120px;
}

.other-partner .image {
    position: absolute;
    width: 250px;
    top:1675px;
    left: 860px;
    height: 290px;
    /* border: 1px solid red; */
}

.other-partner .image img{
    width: 100%;
    height: 100%;
}

/* footer-text */
.footer-text{
    width: 90%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Footer */
.footer{
    /* border: 1px solid red; */
    background-color: #F2F2F2;
    padding-top: 50px;
}

.footer .row-1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px
   
}

.footer .row-2 .col-4 ul li{
   text-decoration: none;
   list-style: none;
   /* text-align: center; */
}

.footer .row-2 .col-4 .logo {
    width: 200px;
    height: 70px;
}

.footer .row-2 .col-4 .logo img{
    width: 100%;
    height: 100%;
}

/* Bag food */

.bag-food .bag-detail-menu{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    border-bottom: 1px dotted grey;
    display: flex;
    justify-content: space-between;
}

.bag-food .bag-detail-menu .bag-img-food{
    width: 45px;
    height: 40px;
    /* border: 1px solid red; */
    margin: 10px 10px;
}

.bag-food .bag-detail-menu .bag-img-food img{
   width: 100%;
   height: 100%;
}

.bag-food .bag-detail-menu .bag-name-food{
    width: 270px;
    height: 40px;
    /* border: 1px solid red; */
    font-size: 15px;
    margin: 10px 10px;
    line-height: 40px;
}

.bag-food .bag-detail-menu .bag-number-food{
    width: 60px;
    height: 40px;
    /* border: 1px solid red; */
    margin: 10px 10px;
    line-height: 40px;
    font-size: 13px;
}

.bag-food .bag-detail-menu .bag-number-food .btn-quantity{
    border:none;
    background-color: white;
    width: 15px;
    height: 15px;
}

.bag-food .bag-detail-menu .bag-price-food{
    width: 60px;
    height: 40px;
    /* border: 1px solid red; */
    margin: 10px 10px;
    line-height: 40px;
}


.modal-footer .btn-secondary:hover {
    background-color: #6CC942!important;
    /* font-weight: bold!important; */
    color: white!important;
    transition-duration: 0.5;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #FFD073;
  }

