*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f2f2f2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container-fluid .logo {
    width: 70px;
    height: 50px;
}

.container-fluid .logo img {
    width: 100%;
    height: 100%;
}

/* Sub heading menu  */
.container-fluid .menu ul{
    width: 600px;
    /* border: 1px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.navbar-nav .nav-item  a {
    color: black !important;
}

.container-fluid .register .btn-register{
    border:1px solid #EE4D2D;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color:#EE4D2D; 
    background:#F8F9FA;
}
/* Bottom */
.bottom {
   background-image:url(./city.jpg)
}

/* Footer partner */
.step-order{
    border-radius: 3px;
    width: 90%;
    height: 300px;
    margin: 100px 50px;
    background-color: white;
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.75);
}

.step-order img{
    width: 100%;
    height: 100%;
}
/* partner */
.partner {
    display: flex;
}
.partner .text {
    width: 600px;
    padding-top: 50px;
    /* border: 1px solid red; */
    margin-left: 120px;
}

.partner .image {
    position: absolute;
    /* width: 300px; */
    top:585px;
    left: 830px;
    height: 330px;
    /* border: 1px solid red; */
}

/* other- partner */
.other-partner {
    display: flex;
}
.other-partner .text {
    width: 600px;
    padding-top: 50px;
    /* border: 1px solid red; */
    margin-left: 120px;
}

.other-partner .image {
    position: absolute;
    width: 250px;
    top:1025px;
    left: 860px;
    height: 290px;
    /* border: 1px solid red; */
}

.other-partner .image img{
    width: 100%;
    height: 100%;
}

/* footer-text */
.footer-text{
    width: 90%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Footer */
.footer{
    /* border: 1px solid red; */
    background-color: #F2F2F2;
    padding-top: 50px;
}

.footer .row-1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px
   
}

.footer .row-2 .col-4 ul li{
   text-decoration: none;
   list-style: none;
   /* text-align: center; */
}

.footer .row-2 .col-4 .logo {
    width: 200px;
    height: 70px;
}

.footer .row-2 .col-4 .logo img{
    width: 100%;
    height: 100%;
}