
.img img{
    width: 100%;
    height: 96%;
}

.intro {
    position: fixed;
    top: 0px;
    /* border: 1px solid red; */
    width: 70%;
    height: 100%;
}

.people {
    position: fixed;
    top: 340px;
    left: 100px;
 
}

.people img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.orderman{
    position: fixed;
    top: 290px;
    left: 265px;
}
.orderman img{
    width: 40%;
    height: 40%;
    cursor: pointer;
}

.btn-shopping button{
    position: fixed;
    top: 320px;
    right: 80px;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 70px;
}

.introbach{
    position: fixed;
    top:140px;
    left: 70px;
    width: 300px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: blueviolet;
    display: flex;  
    box-shadow: 2px 1px 37px 0px rgba(13,11,11,0.79);
-webkit-box-shadow: 2px 1px 37px 0px rgba(13,11,11,0.79);
-moz-box-shadow: 2px 1px 37px 0px rgba(13,11,11,0.79);
/* display: none; */
}

.introbach .img {
    width:100px;
    height: 100px;
    margin: 20px 10px;
    box-shadow: 2px 1px 37px 0px rgba(165,42,42,0.79);
-webkit-box-shadow: 2px 1px 37px 0px rgba(165,42,42,0.79);
-moz-box-shadow: 2px 1px 37px 0px rgba(165,42,42,0.79);
}


.introbach .img img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.introbach .info-bach{
    width: 175px;
    height: 100px;
    /* border: 1px solid red; */
    margin: 21px 10px;
    color: white;
    font-weight: bold
}

/* duc */
.introduc{
    position: fixed;
    top:140px;
    left: 380px;
    width: 300px;
    height: 150px;
    /* border: 1px solid red; */
    background-color: blueviolet;
    display: flex;  
    box-shadow: 2px 1px 37px 0px rgba(13,11,11,0.79);
-webkit-box-shadow: 2px 1px 37px 0px rgba(13,11,11,0.79);
-moz-box-shadow: 2px 1px 37px 0px rgba(13,11,11,0.79);
/* display: none; */
}

.introduc .img {
    width:100px;
    height: 100px;
    margin: 20px 10px;
    box-shadow: 2px 1px 37px 0px rgba(165,42,42,0.79);
-webkit-box-shadow: 2px 1px 37px 0px rgba(165,42,42,0.79);
-moz-box-shadow: 2px 1px 37px 0px rgba(165,42,42,0.79);
}

.introduc .img img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.introduc .info-duc{
    width: 175px;
    height: 100px;
    /* border: 1px solid red; */
    margin: 21px 10px;
    color: white;
    font-weight: bold
}

