*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f2f2f2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container-fluid .logo {
    width: 70px;
    height: 50px;
}

.container-fluid .logo img {
    width: 100%;
    height: 100%;
}

/* Sub heading menu  */
.container-fluid .menu ul{
    width: 600px;
    /* border: 1px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.navbar-nav .nav-item  a {
    color: black !important;
}

/* tên đăng nhập */
.container-fluid .register .btn-register{
    border:1px solid #EE4D2D;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color:#EE4D2D; 
    background:#F8F9FA;
    display: none;
}
.container-fluid .info {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
}

.container-fluid .info .img-info{
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
}

.container-fluid .info .img-info img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-fluid .info .name-info{
    /* width: 100px; */
    height: 40px;
    /* border: 1px solid red; */
    font-weight: bold;
    line-height: 40px;
}

/* logout */
.container-fluid .edit-user {
    width: 200px;
    /* height: 400px; */
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 60px;
    box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.76);
-webkit-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.76);
}

.container-fluid .edit-user .bag {
    /* width: 200px; */
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}


.container-fluid .edit-user .bag:hover{
    background-color: #F5F5F5;
}
.container-fluid .edit-user .bag .fa-bag-shopping{
    /* width: 200px; */
    margin-left: 10px;
    margin-right: 25px;
    color: #6CC942
}

.container-fluid .edit-user .update {
    /* width: 200px; */
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid grey;
}
.container-fluid .edit-user .update:hover{
    background-color: #F5F5F5;
}
.container-fluid .edit-user .update .fa-user-plus{
    margin-left: 10px;
    margin-right: 20px;
    color: #E2963B;
}
.container-fluid .edit-user .logout{
    /* width: 200px; */
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.container-fluid .edit-user .logout:hover{
    background-color: #F5F5F5;
}
.container-fluid .edit-user .logout .fa-right-from-bracket{
    margin-left: 10px;
    margin-right: 23px;
    color:#6D6F71;
}

/* Footer */
.footer{
    /* border: 1px solid red; */
    background-color: #F2F2F2;
}

.footer .row-1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px
   
}

.footer .row-2 .col-4 ul li{
   text-decoration: none;
   list-style: none;
   /* text-align: center; */
}

.footer .row-2 .col-4 .logo {
    width: 200px;
    height: 70px;
}

.footer .row-2 .col-4 .logo img{
    width: 100%;
    height: 100%;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
