*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: Noto Sans,Arial,sans-serif !important;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}

.container-fluid .logo {
    width: 70px;
    height: 50px;
}

.container-fluid .logo img {
    width: 100%;
    height: 100%;
}

/* Sub heading menu  */
.container-fluid .menu ul{
    width: 600px;
    /* border: 1px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.navbar-nav .nav-item  a {
    color: black !important;
}

/* Đăng nhập */
.container-fluid .register .btn-register{
    border:1px solid #EE4D2D;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color:#EE4D2D; 
    background:#F8F9FA;
}

/* Bottom Menu order */
.bottom {
    background-color: #F2F2F2;
    text-align: center;
}

.bottom .register-box{
    width: 550px;
    /* height: 600px; */
    padding-top: 30px;
    margin-left: 350px;
    /* border: 1px solid red; */
    background-color: white;
}

.field-register{
    /* border: 1px solid red; */
    width: 90%;
    /* height: 400px; */
    margin-left: 30px;
    text-align: left;
}

.field-register .all-field .field {
   margin-bottom: 10px;
   width: 95%;
}

.all-field input{
    padding-left: 10px;
    font-style: italic;
}

.btn-submit{
    width: 95%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0288D1;
    border:none;
    border-radius: 3px;
    color:white;
    font-size: large;
}

/* Footer */
.footer{
    /* border: 1px solid red; */
    background-color: #F2F2F2;
}

.footer .row-1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px
   
}

.footer .row-2 .col-4 ul li{
   text-decoration: none;
   list-style: none;
   /* text-align: center; */
}

.footer .row-2 .col-4 .logo {
    width: 200px;
    height: 70px;
}

.footer .row-2 .col-4 .logo img{
    width: 100%;
    height: 100%;
}