*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f2f2f2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.container-fluid .logo {
    width: 70px;
    height: 50px;
}

.container-fluid .logo img {
    width: 100%;
    height: 100%;
}

/* Sub heading menu  */
.container-fluid .menu ul{
    width: 600px;
    /* border: 1px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.navbar-nav .nav-item  a {
    color: black !important;
}

.container-fluid .register .btn-register{
    border:1px solid #EE4D2D;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color:#EE4D2D; 
    background:#F8F9FA;
}
/* Bottom */
.user {

    width: 100%;
    /* height: 700px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}

.user .user-info{
    width: 25%;
    /* border: 1px solid red; */
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 7px 3px 15px -2px rgba(0,0,0,0.32);
-webkit-box-shadow: 7px 3px 15px -2px rgba(0,0,0,0.32);
-moz-box-shadow: 7px 3px 15px -2px rgba(0,0,0,0.32);
}

.user .user-info .avatar{
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
}

.user .user-info .avatar .img-ava{
    /* width: 50px; */
    /* height: 50px; */
    margin: 10px 10px;
    /* border: 1px solid red; */
}

.user .user-info .avatar .img-ava img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user .user-info .avatar .username{
  line-height: 70px;
  margin-left: 10px;
  font-weight: bold;
}

.user .edit-info {
    width: 90%;
    display: flex;
    margin: 20px 20px
}

.user .edit-info .text-edit {
   margin: 0px 20px;
}

.user .edit-info .fa-angle-right{
    margin-left: 77px;
}
.user .purchase {
    width: 90%;
    display: flex;
    margin: 10px 20px
}

.user .purchase .text-edit {
    margin: 0px 18px;
 }
 
 .user .purchase .fa-angle-right{
    margin-left: 40px;
} 

.user .update-info{
    width: 60%;
    border-radius: 10px;
    /* border: 1px solid red; */
    box-shadow: 7px 3px 15px -2px rgba(0,0,0,0.32);
-webkit-box-shadow: 7px 3px 15px -2px rgba(0,0,0,0.32);
-moz-box-shadow: 7px 3px 15px -2px rgba(0,0,0,0.32);
}

.user .update-info .tittle{
    /* border: 1px solid red; */
    border-bottom: 1px solid grey;
    width: 100%;
    height: 70px;
    background-color: #EEEEEE;
    padding: 20px 30px;
    line-height: 70px;
}
/* updateinfo */
.row-22 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom: 1px solid grey;
}
.row-22 .ava{
    width: 25%;
    height: 150px;
    /* border: 1px solid red; */
}
.row-22 .ava .text{
    padding: 10px 20px;
    color: #4073A7;
    font-weight: bold;
}

.row-22 .ava .img-ava{
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

.row-22 .ava .img-ava img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.row-22 .change-ava{
    width: 75%;
    height: 150px;
    /* border: 1px solid red; */
    padding-top: 50px;
}

.row-22 .change-ava{
    width: 75%;
    height: 150px;
    /* border: 1px solid red; */
    padding-top: 50px;
}

.row-22 .change-ava .text .btn-choose{
    width: 50px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 5px;
}

.row-22 .change-ava .change .btn-change{
    width: 90px;
    height: 30px;
    background-color: #4073A7;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}
/* row3 */
.row-3 {
    height: 250px;
    background-color: white;
    border-bottom: 1px solid grey;
}

.row-3 .text{
    padding: 10px 20px;
    color: #4073A7;
    font-weight: bold;
}

.row-3 .name{
    font-weight: bold;
    display: flex;
}
.row-3 .field{
    margin: 10px 100px  10px 40px;
    line-height: 10px;
}

.row-3 .gender{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.row-3 .gender .sex{
    margin: 10px 61px  10px 40px;
    line-height: 5px;
}

.row-3 .email{
    font-weight: bold;
    display: flex;
}

.row-3 .email .email-field{
    margin: 10px 87px  10px 40px;
    line-height: 10px;
}

.row-3 .password{
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
}

.row-3 .password .pass-field{
    margin: 10px 57px  10px 40px;
    line-height: 5px;
}

.row-3 .password .hidden{
    width: 250px;
   display: flex;
   justify-content: space-between;
}

.row-3 .password .hidden .btn-change{
 color:#4073A7;
 font-style: italic;
 font-weight: lighter;
 text-decoration:underline;
 cursor: pointer;
}

.btn-save-change{
    width: 170px;
    height: 30px;
    color: white; 
    background-color: #4073A7;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
}
/* row-4 */
.row-4 {
    height: 150px;
    background-color: white;
    border-bottom: 1px solid grey;
}
.row-4 .text{
    padding: 10px 20px;
    color: #4073A7;
    font-weight: bold;
}

.row-4 .phone{
    display:flex;
    margin-left: 30px;
    margin-bottom: 20px;
}

.row-4 .phone .number{
    font-weight: bold;
    margin-right: 70px;
}

.row-4 .phone .phone-text .fa-sharp{
    color:#329900;
}

.row-4 .btn-update-phone{
    width: 190px;
    height: 35px;
    color: white; 
    background-color: #4073A7;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}
/* Footer */
.footer{
    /* border: 1px solid red; */
    background-color: #F2F2F2;
    padding-top: 50px;
}

.footer .row-1{
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px
   
}

.footer .row-2{
    background-color: #F2F2F2;
}

.footer .row-2 .col-4 ul li{
   text-decoration: none;
   list-style: none;
   /* text-align: center; */
}

.footer .row-2 .col-4 .logo {
    width: 200px;
    height: 70px;
}

.footer .row-2 .col-4 .logo img{
    width: 100%;
    height: 100%;
}